---
layout: archive
author_profile: true
---

<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

<style>
  .em.em-link{
    font-size: 65%
  }
</style>

I am a PhD. candidate at <a href="https://hci.iwr.uni-heidelberg.de/vislearn/" target="_blank">Visual Learning Lab</a> with Prof. Carsten Rother at Heidelberg University.

<hr/>

<h2>Publications</h2>

<table>
  <tbody>
    <tr>
      <td with="22%" style="vertical-align:top">
          <p>
        <img src="/publications/figs/docs.png" style="border-style: none" width="200" align="top" />
      </p>        
    </td>
    <td width="78%" style="vertical-align:top; padding-left:1em">
        <p>
            <strong><a href="http://openaccess.thecvf.com/content_CVPRW_2019/papers/Explainable%20AI/Li_Localizing_Common_Objects_Using_Common_Component_Activation_Map_CVPRW_2019_paper.pdf">Localizing Common Objects Using Common Component Activation Map</a></strong><br/>
      Weihao Li, <b>Omid Hosseini Jafari</b>, Carsten Rother<br/>
      <b>CVPR 2019 Explainable AI Workshop</b><br/>
      <!-- <a href="/projects/DOCS/">[project page]</a>  -->
      <a href="http://openaccess.thecvf.com/content_CVPRW_2019/papers/Explainable%20AI/Li_Localizing_Common_Objects_Using_Common_Component_Activation_Map_CVPRW_2019_paper.pdf">[paper]</a> 
        </p>
        </td>
  </tr>

  <tr>
        <td with="22%" style="vertical-align:top">
            <p>
          <img src="/publications/figs/docs.png" style="border-style: none" width="200" align="top" />
        </p>        
      </td>
      <td width="78%" style="vertical-align:top; padding-left:1em">
          <p>
              <strong><a href="/publications/pdf/DOCS_ACCV18.pdf">Deep Object Co-Segmentation</a></strong><br/>
        <b>Omid Hosseini Jafari</b><sup>*</sup>, Weihao Li<sup>*</sup>, Carsten Rother<br/>
        <b>ACCV 2018</b><br/>
        (<sup>*</sup>equal contribution)<br/>
        <a href="/projects/DOCS/">[project page]</a> 
        <a href="/publications/pdf/DOCS_ACCV18.pdf">[paper]</a> 
        <!--<a href="https://arxiv.org/abs/1804.06423">[arxiv]</a> -->
        <a href="https://github.com/ohosseini/DOCS-caffe">[<i class="em em-link"></i>code-caffe]</a> 
        <a href="https://github.com/ohosseini/DOCS-pytorch">[<i class="em em-link"></i>code-pytorch]</a>
          </p>
          </td>
    </tr>
        
    <tr>
      <td with="22%" style="vertical-align:top">
        <p>
          <img src="/publications/figs/ipose.png" style="vertical-align: top" width="200"/>
        </p>        
      </td>
      <td width="78%" style="vertical-align:top; padding-left:1em">
          <p>
              <strong><a href="https://arxiv.org/abs/1712.01924">iPose: Instance-Aware 6D Pose Estimation of Partly Occluded Objects</a></strong><br/>
        <b>Omid Hosseini Jafari</b><sup>*</sup>, Siva Karthik Mustikovela<sup>*</sup>, Karl Pertsch, Eric Brachmann, Carsten Rother<br/>
        <b>ACCV 2018</b><br/>
        (<sup>*</sup>equal contribution)<br/>
        <a href="https://arxiv.org/abs/1712.01924">[arxiv]</a>
      </p>        
    </td>
    </tr>

    <tr>
        <td with="22%" style="vertical-align:top">
            <p>
          <img src="/publications/figs/sceneflow.png" style="border-style: none" width="200" align="top" />
        </p>        
      </td>
      <td width="78%" style="vertical-align:top; padding-left:1em">
        <p>
        <strong><a href="/publications/pdf/ICCV17.pdf">Bounding Boxes, Segmentations and Object Coordinates: How Important is Recognition for 3D Scene Flow Estimation in Autonomous Driving Scenarios?</a></strong><br/>
        <b>Omid Hosseini Jafari</b><sup>*</sup>, Aseem Behl<sup>*</sup>, Siva Karthik M<sup>*</sup>, Hassan Abu Alhaija, Carsten Rother, Andreas Geiger<br/>
        <b>ICCV 2017</b><br/>
        (<sup>*</sup>equal contribution)<br/>
        <a href="/publications/pdf/ICCV17.pdf">[paper]</a>
        </p>
      </td>
    </tr>

    <tr>
        <td with="22%" style="vertical-align:top">
            <p>
          <img src="/publications/figs/synergy.png" style="border-style: none" width="200" align="top" />
        </p>        
      </td>
      <td width="78%" style="vertical-align:top; padding-left:1em">
          <p>
              <strong><a href="/publications/pdf/jafari_etal_ICRA17.pdf">Analyzing Modular CNN Architectures for Joint Depth Prediction and Semantic Segmentation</a></strong><br/>
        <b>Omid Hosseini Jafari</b>, Oliver Groth, Alexander Kirillov, Michael Ying Yang, Carsten Rother<br/>
        <b>ICRA 2017</b><br/>
        <a href="/publications/pdf/jafari_etal_ICRA17.pdf">[paper]</a> 
        <a href="https://arxiv.org/abs/1702.08009">[arxiv]</a>
        </p>
      </td>
    </tr>
  
    <tr>
        <td with="22%" style="vertical-align:top">
            <p>
          <img src="/publications/figs/smoothing.png" style="border-style: none" width="200" align="top" />
        </p>        
      </td>
      <td width="78%" style="vertical-align:top; padding-left:1em">
          <p>
              <strong><a href="https://hci.iwr.uni-heidelberg.de/vislearn/wp-content/uploads/2014/08/paper1024_CRC.pdf">Semantic-Aware Image Smoothing</a></strong><br/>
        Weihao Li, <b>Omid Hosseini Jafari</b>, Carsten Rother<br/>
        <b>VMV 2017</b><br/>
        <a href="https://hci.iwr.uni-heidelberg.de/vislearn/wp-content/uploads/2014/08/paper1024_CRC.pdf">[paper]</a>
        </p>
      </td>
    </tr>
  
    <tr>
        <td with="22%" style="vertical-align:top">
            <p>
          <img src="/publications/figs/icra16.png" style="border-style: none" width="200" align="top" />
        </p>        
      </td>
      <td width="78%" style="vertical-align:top; padding-left:1em">
          <p>
        <strong><a href="/publications/pdf/jafari_etal_ICRA16.pdf">Real-time RGB-D based template matching pedestrian detection</a></strong><br/>
        <b>Omid Hosseini Jafari</b>, Michael Ying Yang<br/>
        <b>ICRA 2016</b><br/>
        <a href="/projects/RealTMPD/">[project page]</a> 
        <a href="/publications/pdf/jafari_etal_ICRA16.pdf">[paper]</a> 
        <a href="https://youtu.be/2RKjaX6xu4o">[<img src="/assets/youtube.png"/>]</a>
        </p>
      </td>
    </tr>
    
    <tr>
        <td with="22%" style="vertical-align:top">
            <p>
          <img src="/publications/figs/icra14.png" style="border-style: none" width="200" align="top" />
        </p>        
      </td>
      <td width="78%" style="vertical-align:top; padding-left:1em">
        <p>
        <strong><a href="/publications/pdf/jafari_etal_ICRA14.pdf">Real-time RGB-D based people detection and tracking for mobile robots and head-worn cameras</a></strong><br/>
        <b>Omid Hosseini Jafari</b>, Dennis Mitzel, Bastian Leibe<br/>
        <b>ICRA 2014</b><br/>
        <a href="/projects/RealPDT/">[project page]</a> 
        <a href="/publications/pdf/jafari_etal_ICRA14.pdf">[paper]</a> 
        <a href="https://youtu.be/rl0CACWCgTU">[<img src="/assets/youtube.png"/>]</a> 
        <a href="https://www.vision.rwth-aachen.de/software/rgb-d-people-tracking">[<i class="em em-link"></i>code]</a>
        </p>
      </td>
    </tr>
  </tbody>
</table>

<!-- <h3>News</h3>

<ul>
  <li>2 <a href="https://ohosseini.github.io/publications/">papers</a> accepted at ACCV 2018!
    <ul>
      <li>iPose: Instance-Aware 6D Pose Estimation of Partly Occluded Objects</li>
      <li>Deep Object Co-segmentation</li>
    </ul>
  </li>
  <li>Our paper on <a href="https://ohosseini.github.io/publications/pdf/ICCV17.pdf">analyzing the importance of recognition granularity for 3D scene flow estimation</a> accepted at ICCV 2017!</li>
  <li>Our paper on <a hrefe="">analyzing the cross modality influence between depth estimation and semantic segmentation </a> accepted at ICRA 2017!</li>
  <li>One paper accepted at ICRA 2016</li>
</ul> -->
<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "News" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %} -->
